:root {
  --primary-color: #3598D7;
  --secondary-color: #E9F6FF;
}

.login {
  width: 100%;
  height: 100vh;
  background-color: #FAFEFF;
}

.login .loginFill {
  width: 40%;
  padding: 40px 0px 0px 40px;
}

.login .cards {
  width: 100%;
  height: 75%;
  justify-content: center;
  align-items: center;
}

.loginFill .card {
  display: flex;
  width: 100%;
  height: 90%;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 10px;
  background: #FFF;
  border: none;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.login .card span {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  padding: 20px 20px 10px;
}

.login .card input {
  width: 100%;
  height: 40px;
  margin-top: 20px;
  background-color: #E8E8E8;
  padding-left: 15px;
  border: none;
  border-radius: 10px;
}

.login .card button {
  width: 100%;
  height: 40px;
  margin-top: 20px;
  border: 1px solid var(--primary-color);
  border-radius: 10px;
}

.login .card a {
  text-align: end;
  text-decoration: none;
  color: var(--primary-color);
}

.login .loginBg {
  width: 60%;
  background: url('/login.svg');
  background-size: cover;
  background-repeat: no-repeat no-repeat;
  background-position: center center;
}

.login .loginBgn {
  display: none;
}

.register {
  background: url(/register.svg);
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-position: center center;
  background-repeat: no-repeat no-repeat;
  background-size: cover;
}

.register .registerFill {
  width: 30%;
  height: 80%;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.80);
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
}

.registerFill span {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.registerFill input {
  width: 100%;
  margin-top: 20px;
  background-color: #E8E8E8;
  border: none;
  border-radius: 10px;
  height: 40px;
  padding-left: 15px;
}

.registerFill button {
  width: 100%;
  margin-top: 20px;
  background-color: transparent;
  color: #000;
  border: 1px solid var(--primary-color);
  border-radius: 10px;
  height: 40px;
  padding-left: 15px;
}

.registerFill a {
  width: 100%;
}

.lupaPassword {
  height: fit-content !important;
  background-color: #fff !important;
}

.owner,
.dataAdmin,
.kasir,
.produk,
.costumer,
.transaksi {
  width: 100%;
  height: 100vh;
  background-color: var(--secondary-color);
}

aside {
  width: 15%;
  height: 100%;
}

aside section {
  padding-top: 10px;
}

aside .edit {
  border-radius: 10px;
  height: 20px;
  width: 80%;
  margin-bottom: 10px;
  filter: drop-shadow(0px 1px 1px rgba(0, 0, 0, 0.25));
  display: flex;
  align-items: center;
  justify-content: center;
}

aside .edit p {
  margin: 0;
  font-size: 14px;
}

aside section,
aside section span {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

aside section button {
  width: 100%;
  margin-bottom: 20px;
  border-radius: 10px;
  background: #FFF;
  border: none;
  height: 40px;
}

aside .logout {
  border-radius: 10px;
  background: #FFF;
  width: 100%;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

aside a {
  width: 100%;
  padding: 0 10px;
}

.owner article,
.dataAdmin article,
.kasir article,
.produk article,
.costumer article,
.transaksi article {
  width: 85%;
  height: 100%;
  background-color: #fff;
  padding-top: 20px;
}

.owner article section {
  width: 100%;
  /* height: 50%; */
}

.owner article .details span {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  margin: 20px;
}

.owner .chart {
  width: 80%;
}

.owner .pieCharts {
  height: 70vh;
  width: 800px;
}

.owner .pieCharts canvas {
  height: fit-content;
}

.kasir article .cards {
  margin: 20px;
}

.kasir article .card section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.kasir article .card p {
  margin: 0;
}


.kasir .article {
  width: 40%;
}

.kasir .article a,
.kasir .detailCos thead th,
.dataAdmin thead th,
.produk thead th {
  background-color: var(--primary-color);
  color: #fff;
  text-align: center;
}

.dataAdmin tbody td,
.produk tbody td {
  background-color: var(--secondary-color);
  text-align: center;
}

.kasir .detailCos {
  width: 45%;
  height: 100%;
  padding-top: 20px;
}

.detailCos .data {
  display: flex;
  padding: 10px 20px;
}

.detailCos .data p {
  margin: 7px;
}

.detailCos .dropdowns {
  display: flex;
  justify-content: end;
  padding-right: 10px;
}

.detailCos .dropdown {
  border: 1px solid black;
  width: fit-content;
  border-radius: 10px;
}

.addProduc {
  display: flex;
  justify-content: end;
  padding-bottom: 20px;
}

.addProduc button {
  background-color: var(--primary-color);
  color: #FFF;
  display: flex;
  width: 160px;
  padding: 10px;
  justify-content: space-between;
  align-items: center;
  border: none;
  border-radius: 10px;
}

.produk article {
  padding: 20px;
}

.dataAdmin .article,
.produk .article {
  width: 50%;
}

.dataAdmin article {
  padding: 20px;
}

.dataAdmin .produkInput,
.produk .produkInput {
  width: 35%;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px 10px 0;
}

.dataAdmin .produkInput section button,
.produk .produkInput section button {
  width: 92%;
  margin: 20px;
  border-radius: 10px;
  background: #FFF;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border: none;
  height: 35px;
}

.dataAdmin .produkInput span,
.produk .produkInput span {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.dataAdmin .produkInput p,
.produk .produkInput p {
  align-items: center;
  display: flex;
  margin: auto 20px;
  width: 30%;
}

.dataAdmin .produkInput input,
.produk .produkInput input {
  margin: 10px;
  border-radius: 10px;
  background: #FFF;
  border: none;
  height: 40px;
  width: 70%;
}

.dataAdmin tbody button,
.produk tbody button {
  border: none;
  background-color: transparent;
}

.costumer article {
  flex-direction: column;
  justify-content: space-between;
  padding: 20px 0px;
}

.costumer .navbar form {
  border-radius: 25.5px;
  background: #FFF;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.25);
  align-items: center;
}

.costumer .navbar input {
  border: none;
  background-color: transparent;
  outline: none;
}

/* .costumer .card{
  height: 270px;
} */

.costumer .card-body {
  padding: 10px 5px;
  justify-content: space-between;
  flex-direction: column;
}

.costumer .card-body span {
  display: flex;
  justify-content: space-between;
}

.costumer .card-body p {
  margin: auto 0;
}

.costumer .card-body .card-text {
  background-color: #900000;
  padding: 0px 5px;
  color: #fff;
  border-radius: 10px;
  font-size: 13px;
  margin: auto 0;
}

.costumer .card img {
  height: 150px;
}

.costumer .card-body button {
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-color);
}

.transaksi .kosong {
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  color: var(--primary-color);
}

.transaksi .card-body {
  padding: 0px;
  justify-content: space-between;
  border-radius: 10px;
  background: #FFF;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.transaksi .card img {
  width: 150px;
  border-radius: 10px;
}

.transaksi .card-body div p {
  margin: 0;
  font-weight: bold;
  font-size: 15px;
}

.transaksi .card section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.transaksi .card-body span {
  padding: 5px 10px;
}

.transaksi .card-body .cardd p {
  margin: 0 0 7px;
  font-size: 15px;
}

.transaksi .card-body .cardd .card-title {
  width: 100%;
  color: #FFF;
  margin: auto;
}

.keranjang {
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.keranjang .cart {
  width: 45%;
  height: 100%;
  padding: 10px 20px 20px;
  background-color: var(--secondary-color);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.keranjang .card-body {
  padding: 0;
}

.keranjang .card img {
  width: 100px;
}

.keranjang .card .plusMin span {
  display: flex;
  align-items: center;
  margin: 10px;
}

.keranjang .card .plusMin div {
  background-color: var(--secondary-color);
  width: 40px;
  display: flex;
  justify-content: center;
  height: 30px;
}

.keranjang .sum {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.keranjang section button {
  width: 100%;
  background-color: var(--primary-color);
  border-radius: 10px;
  border: none;
  color: #fff;
  height: 30px;
}

.keranjang .section {
  padding: 25px 30px 10px;
}

.keranjang .metode {
  background-color: #fff;
  align-items: center;
  height: 40px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  margin: 20px 0;
}

.keranjang .metode p,
.keranjang .inputan p {
  margin: 0;
}

.inputan input {
  background-color: transparent;
  border: 1px solid black;
  width: 45%;
  height: 40px;
  border-radius: 10px;
}

.navbars {
  text-decoration: none;
  width: 100%;
  position: fixed;
  bottom: 0;
  color: #fff;
  display: none;
  background: #FFF;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.25);
}

.navbars a {
  width: 33%;
  display: flex;
  text-decoration: none;
  align-items: center;
}

.navbars span {
  display: flex;
  align-items: center;
  width: 100%;
  height: 35px;
  border-radius: 5px;
  background-color: var(--primary-color);
}

.navbars p {
  font-size: 1rem;
  margin: auto;
}

.kasir .back {
  display: none;
}

.cartNavbar section {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.cartNavbar .garis {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 5px;
  align-items: center;
  margin: 20px 30px;
  background: repeating-linear-gradient(to right,
      transparent,
      transparent 10px,
      black 10px,
      black 20px);
}

.cartNavbar p {
  font-size: 13px;
  margin-bottom: 0;
}

.cartNavbar .time {
  padding: 0 15px 0 10px;
}

.cartNavbar .bulat {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: none;
  background-color: #000;
  z-index: 99;
}

.navbarButton {
  display: flex;
  justify-content: space-between;
  width: 100%
}

.navbarButton button {
  width: 49% !important;
}

.visibles {
  display: none;
}

.popup {
  width: 400px;
  height: fit-content;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border: 1px solid #ccc;
  z-index: 999;
  border-radius: 10px;
}

.popup-content {
  text-align: center;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  height: 100%;
}

.popup button {
  background-color: var(--primary-color);
  color: #fff;
  padding: 10px;
  margin-top: 10px;
  cursor: pointer;
  border: none;
  width: 100%;
  border-radius: 10px;
}

.popup button:hover {
  background-color: #1a2328;
  color: #fff;
}

.popup-content span {
  display: flex;
  margin-bottom: 20px;
  justify-content: space-between;
}


@media screen and (min-width: 321px) and (max-width: 480px) {

  .kasir aside,
  .produk aside,
  .owner aside,
  .dataAdmin aside,
  .costumer aside,
  .transaksi aside {
    display: none;
  }

  .kasir,
  .dataAdmin,
  .produk {
    display: flex;
    justify-content: center;
  }

  .owner article,
  .dataAdmin article,
  .kasir article,
  .produk article,
  .costumer article,
  .transaksi article {
    width: 100%;
  }

  .owner .chart {
    width: 90%;
    height: 50vh;
  }

  .dataAdmin .produkInput,
  .produk .produkInput,
  .kasir .detailCos {
    width: 100%;
  }

  .produk .article,
  .dataAdmin .article,
  .kasir .article {
    display: none;
  }

  .addProduk {
    display: none;
  }

  .navbars,
  .showIt {
    display: block;
  }

  .kasir .mobileKasir {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .costumer .navbar form {
    width: 100%;
  }

  .costumer .keranjangs {
    margin-bottom: 50px;
  }

  .transaksi article,
  .costumer article {
    padding-bottom: 50px;
    height: fit-content;
  }

  .transaksi .card img {
    width: 120px;
  }

  .transaksi .card-body span {
    padding: 0;
    padding-right: 3px;
  }

  .transaksi .card-body b,
  .transaksi .card-body p,
  .transaksi .card-body div p {
    font-size: 12px;
  }

  /* .transaksi .card-body div p {
    font-size: 10px;
  } */

  .costumer .card-body .card-title {
    font-size: 14px;
  }

  .costumer .card-body span p {
    font-size: 12px;
  }

  .keranjang .cart {
    width: 100%;
    padding: 10px;
  }

  .keranjang .card img {
    width: 70px;
  }

  .keranjang .section {
    padding: 20px 0 0;
  }

  .keranjang .plusMin {
    width: 40%;
  }

  .keranjang .plusMin svg,
  .keranjang .plusMin div {
    width: 20px;
  }

  .login .loginFill {
    width: 90%;
    margin: auto;
    padding: 0;
  }

  .login .loginBgn {
    display: block;
    width: 90%;
    height: 150px;
    background: url('/login.svg');
    background-size: cover;
    background-repeat: no-repeat no-repeat;
    background-position: center center;
  }

  .login .loginBg {
    display: none;
  }

  .register .registerFill {
    width: 90%;
    height: 70%;
  }

  .asideCashier {
    width: 100%;
    height: 100vh;
    padding-top: 30px;
  }

  .asideCashier .edit {
    background-color: var(--primary-color);
    height: 20px;
    color: #fff;
  }

  .asideCashier a {
    display: none;
  }

  .asideCashier .logout {
    margin-bottom: 80px;
    background-color: #900000;
    color: #fff;
  }

}